#chatlist td pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#chatlist {
    table-layout: fixed;
    width: 100%
    max-width: 100%;
}

#chatlist td.timestamp {
    width: 5%;
    color: green;
}

#chatlist td.nickname {
    width: 15%;
    color: blue;
    overflow: hidden;
    text-overflow: ellipsis;    
}

#chatlist td.message {
    width: 80%;
    color: gray;
}